.PopupForm {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.FormTitle {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.Error, .Success {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.Error {
  color: red;
}

.Success {
  color: green;
}