.HistoryListInfo {
  
  .GoBack {
    color: #F9A109;
    cursor: pointer;
    font-size: 1.6rem;
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .Title {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .Date {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    opacity: .5;
    margin-bottom: 1rem;
    
    img {
      margin-right: 1rem;
    }
  }
  
  .HistoryCategories {
    display: flex;
    flex-direction: column;
  }
}
