@keyframes entranceProduct {
  0% {
    opacity: 0;
    transform: translateY(-.9rem);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ItemsCategory {
  animation: entranceProduct 1s ease-in;
  animation-fill-mode: backwards;
  transition: all .3s;
  
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.titleCategory {
  font-weight: 600;
  font-size: 1.7rem;
}

.ItemsProducts {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
}