@import '../../../../scss/mixins.scss';

.NotificationsButton {
  position: relative;
  width: 3rem;
  height: 3rem;
  position: 1rem;
  border-radius: 50%;
  background-color: #F9A109;
  border: none;
  
  display: flex;
  opacity: 0;
  visibility: hidden;
  
  align-items: center;
  justify-content: center;
  font-family: inherit;
  cursor: pointer;
  
  &:hover {
    background-color: darken(#F9A109, 5%);
  }
  
  &:active {
    background-color: darken(#F9A109, 10%);
  }
  
  &:focus {
    outline: none;
  }
  
  img {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  @include respond(sm-phone) {
    opacity: 1;
    visibility: visible;
  }
}

.Notifications {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: #EB5757;
  padding: .3rem;
  font-size: .6rem;
  border-radius: .2rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}