.IngresarPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;

  background-color: white;
  border-radius: 2rem;
  z-index: 600;
  padding: 2rem;
  transition: all .3s;
}

.Shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate(-50%, -50%) translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate(-50%, -50%) translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate(-50%, -50%) translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate(-50%, -50%) translate3d(4px, 0, 0);
  }
}