.IngresarPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
  
  background-color: white;
  border-radius: 2rem;
  z-index: 100;
  padding: 2rem;
}