.Btn {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: all .2s;
  font-weight: 700;
  
  &:focus {
    outline: none;
  }
}

.white {
  background-color: white;
  color: #34333A;
  
  &:hover {
    background-color: darken(white, 5%);
  }
  
  &:active {
    background-color: darken(white, 15%);
  }
}

.cyan {
  background-color: #56CCF2;
  color: white;
  
  &:hover {
    background-color: darken(#56CCF2, 5%);
  }
  
  &:active {
    background-color: darken(#56CCF2, 15%);
  }
}

.orange {
  background-color: #F9A109;
  color: white;
  
  &:hover {
    background-color: darken(#F9A109, 5%);
  }
  
  &:active {
    background-color: darken(#F9A109, 15%);
  }
}

.transparent {
  background-color: #FAFAFE;
  color: black;
  
  &:hover {
    background-color: darken(#FAFAFE, 5%);
  }
}

.danger {
  background-color: #EB5757;
  color: white;
  
  &:hover {
    background-color: darken(#EB5757, 5%);
  }
}