.LabelInput {
  position: relative;
}

.TitleLabel {
  font-size: 1.3rem;
  margin-bottom: .5rem;
  
  position: absolute;
  top: -3.3rem;
  left: 0;
  transition: all .3s;
}

.Input {
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  background-color: transparent;
  border: 2px solid #BDBDBD;
  border-radius: 1.5rem;
  opacity: .7;
  transition: all .3s;

  &:focus {
    outline: none;
    border: 2px solid #F9A109;
  }
  
  &:focus + .TitleLabel {
    color: #F9A109;
  }
}