@import '../../../scss/mixins.scss';

.ChangeMethod {
  display: flex;
  width: 40%;
  height: 4rem;
  justify-content: space-between;
  
  @include respond(desktop) {
    width: 45%;
  }
  
  @include respond(mini-phone) {
    width: 60%;
  }
}

.Method {
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    height: 1px;
    background-color: black;
    width: 0;
    border-radius: 5px;
    transition: all .3s;
  }
  
  &:hover::after {
    width: 100%;
  }
}

.activeMethod {
  font-weight: 600;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    height: 1px;
    background-color: #F9A109;
    width: 100%;
    border-radius: 5px;
    transition: all .3s;
  }
}