.ShoppingItemCount {
  border: 2px solid #F9A109;
  border-radius: 4rem;
  width: 6rem;
  height: 2.5rem;
  padding: 1rem;
  color: #F9A109;
  font-size: 1rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}