@import '../../../scss/mixins.scss';

.InfoItem {
  display: flex;
  flex-direction: column;
  
  position: fixed;
  top: 0;
  right: 0;
  
  background-color: white;
  height: 100vh;
  padding: 2.5rem 3rem;
  transition: all .3s ease;
  z-index: 30;
}

.GoBack {
  color: #F9A109;
  cursor: pointer;
  font-size: 1.6rem;
  display: inline-block;
}

.NoImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ImageContainer {
  position: relative;
  
  width: 100%;
  height: 13rem;
  overflow: hidden;
  border-radius: 3rem;
  margin: 2.5rem 0;
  background-color: #ccc;
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Inputs {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 2rem;
}

.StyleActive {
  width: 32rem;
  visibility: visible;
  opacity: 1;
  
  @include respond(phone) {
    width: calc(100% - 6rem);
  }
}

.StyleInactive {
  width: 0;
  visibility: hidden;
  opacity: 0;
}