.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  
  background-color: white;
  width: 6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  padding: 2rem 0;
}