.Form {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 2rem;
  
  label {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
  
  button {
    margin-top: -2rem;
    width: 40%;
    align-self: flex-end;
  }
}