@import '../../../../scss/mixins.scss';

.SearchBox {
  position: relative;

  display: flex;
  align-items: center;
  width: 50%;
  
  @include respond(tablet) {
    width: 100%;
    margin-top: 1.5rem;
  }
}

.Input {
  width: 100%;
  height: 5rem;
  border-radius: 2rem;
  border: none;
  font-family: inherit;
  padding-left: 4.5rem;
  transition: all .3s;
  
  &:focus {
    outline: none;
    background-color: darken(white, 3%);
  }
}

.SearchIcon {
  position: absolute;
  left: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  
  opacity: .8;
}