@import './scss/mixins.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  
  @include respond(tablet) {
    font-size: 62.5%;
  }
  
  @include respond(desktop) {
    font-size: 65%;
  }
  
  @include respond(big-desktop) {
    font-size: 70%;
  };
}

body {
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  background-color: #FAFAFE;
}

input, textarea, select, option {
  font-family: inherit;
}