@import '../../../scss/mixins.scss';

.ShoppingList {
  display: flex;
  flex-direction: column;
  
  position: fixed;
  top: 0;
  right: 0;
  
  background-color: #FFF0DE;
  width: 32rem;
  height: 100vh;
  padding: 2.5rem 3rem;
  transition: all .3s;
  
  @include respond(phone) {
    width: 25rem;
    padding: 2.5rem 2rem;
  }
}

.PhoneInactive {
  @include respond(sm-phone) {
    width: 0; /* CHANGE TO calc(100% - 6rem)*/
    visibility: hidden;
    opacity: 0;
  }
}

.PhoneActive {
  @include respond(sm-phone) {
    width: calc(100% - 6rem);
    visibility: visible;
    opacity: 1;
  }
}

.Categories {
  height: 63%;
  overflow-y: auto;
}